torch
torchvision
torchmetrics
torchreid
numpy
gdown
tensorboard
scipy
pytorch_lightning
pydantic
opencv-python
pandas
git+https://github.com/tsironisbi/config4ml.git
git+https://github.com/JonathonLuiten/TrackEval.git